[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/tagbar"]
	path = .vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule ".zsh/zsh-syntax-highlighting"]
	path = .zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".vim/bundle/vim-airline-themes"]
	path = .vim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule ".vim/bundle/zenburn"]
	path = .vim/bundle/zenburn
	url = https://github.com/jnurmine/Zenburn
[submodule ".vim/bundle/indentpython"]
	path = .vim/bundle/indentpython
	url = https://github.com/vim-scripts/indentpython.vim
[submodule ".vim/bundle/jedi-vim"]
	path = .vim/bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim
[submodule ".vim/bundle/ctrlp"]
	path = .vim/bundle/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule ".vim/bundle/ack"]
	path = .vim/bundle/ack
	url = https://github.com/mileszs/ack.vim
[submodule ".zsh/warhol.plugin.zsh"]
	path = .zsh/warhol.plugin.zsh
	url = https://github.com/unixorn/warhol.plugin.zsh
[submodule ".zsh/zsh-history-substring-search"]
	path = .zsh/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search
[submodule ".vim/bundle/pyenv"]
	path = .vim/bundle/pyenv
	url = https://github.com/lambdalisue/vim-pyenv
[submodule ".pyenv"]
	path = .pyenv
	url = https://github.com/yyuu/pyenv
[submodule ".vim/bundle/a"]
	path = .vim/bundle/a
	url = https://github.com/vim-scripts/a.vim
[submodule ".vim/bundle/molokai"]
	path = .vim/bundle/molokai
	url = https://github.com/tomasr/molokai
[submodule ".vim/bundle/bufkill"]
	path = .vim/bundle/bufkill
	url = https://github.com/qpkorr/vim-bufkill
[submodule ".vim/bundle/sessionman"]
	path = .vim/bundle/sessionman
	url = https://github.com/chumakd/sessionman.vim
[submodule ".zsh/zsh-256color"]
	path = .zsh/zsh-256color
	url = https://github.com/chrissicool/zsh-256color
[submodule ".zsh/zsh-background-notify"]
	path = .zsh/zsh-background-notify
	url = https://github.com/lockie/zsh-background-notify
[submodule ".vim/bundle/vim-wakatime"]
	path = .vim/bundle/vim-wakatime
	url = git://github.com/wakatime/vim-wakatime.git
[submodule ".vim/bundle/vim-devicons"]
	path = .vim/bundle/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons
[submodule ".zsh/gibo"]
	path = .zsh/gibo
	url = https://github.com/simonwhitaker/gibo
[submodule ".vim/bundle/clang_complete"]
	path = .vim/bundle/clang_complete
	url = https://github.com/Rip-Rip/clang_complete
