[user]
	email = awkravchuk@gmail.com
	name = Andrew Kravchuk
	signingkey = 50F6285F
[push]
	default = matching
[merge]
	tool = meld
[alias]
	co = checkout
	st = status
	br = branch
	g = gui
[commit]
	gpgsign = true
