[user]
	email = awkravchuk@gmail.com
	name = Andrew Kravchuk
	signingkey = 50F6285F
[gui]
	fontdiff = -family Consolas -size 12 -weight normal -slant roman -underline 0 -overstrike 0
	tabsize = 4

[pull]
	rebase = true
	ff = only
[push]
	default = matching
[merge]
	tool = meld
[alias]
	co = checkout
	st = status
	br = branch
	g = gui
	df = diff
	ch = cherry-pick
	c = clone
[commit]
	gpgsign = true
[diff]
	algorithm=histogram
	colormoved=default
[core]
	pager=diff-highlight | $PAGER
