[user]
	email = awkravchuk@gmail.com
	name = Andrew Kravchuk
	signingkey = 50F6285F
[gui]
	fontdiff = -family Consolas -size 12 -weight normal -slant roman -underline 0 -overstrike 0
	tabsize = 4

[push]
	default = matching
[merge]
	tool = meld
[alias]
	co = checkout
	st = status
	br = branch
	g = gui
	df = diff
[commit]
	gpgsign = true
