#!/usr/bin/env sh

nitrogen --restore &
xsetroot -cursor_name left_ptr &
xset r rate 190 25 &
xset -dpms & xset s off &
setxkbmap -layout us,ru -option "grp:ctrl_shift_toggle,grp_led:scroll" -variant ",winkeys" &
xscreensaver -nosplash &
volti &
/usr/libexec/polkit-gnome-authentication-agent-1 &
kwalletd &
/opt/dropbox/dropbox &
sleep 7 && owncloud &
exec /usr/bin/awesome
