Xft.antialias:  1
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintfull
Xft.hinting: 1
Xft.dpi: 94
Xft.rgba: rgb

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: #3f3f3f, #6f6f6f, #6f6f6f
rofi.color-normal: #3f3f3f, #dcdccc, #3f3f3f, #1e2320, #dcdccc
rofi.color-active: #3f3f3f, #f0dfaf, #3f3f3f, #1e2320, #f0dfaf
rofi.color-urgent: #3f3f3f, #cc9393, #3f3f3f, #1e2320, #cc9393
rofi.font: Terminus 13

! ------
! alttab
! ------
alttab.windowmanager: 1
alttab.modifier.keysym: Super_L
alttab.background: #3f3f3f
alttab.framecolor: #f0dfaf
alttab.foreground: #dcdccc
alttab.font: xft:Terminus
alttab.tile.geometry: 300x64

! ------------------------------------------------------------------------------
! XTERM - Zenburn theme with large font
! ------------------------------------------------------------------------------
XTerm*termName: xterm-256color
XTerm*faceName: Terminus
XTerm*faceSize: 18
XTerm*boldMode: true
XTerm*renderFont: true
XTerm*utf8: 2
XTerm*metaSendsEscape: true
XTerm*eightBitInput: true
XTerm*scrollBar: false
XTerm*cursorBlink: false
XTerm*saveLines: 65535
XTerm*dynamicColors: on
XTerm*highlightSelection: true
XTerm*reverseWrap: true

! Zenburn colors
XTerm*background: #3a3a3a
XTerm*foreground: #dcdccc
XTerm*cursorColor: #DCDCCC

! Color palette
XTerm*color0: #000000
XTerm*color8: #222222
XTerm*color1: #e89393
XTerm*color9: #dca3a3
XTerm*color2: #688060
XTerm*color10: #7f9f7f
XTerm*color3: #f0dfaf
XTerm*color11: #efef8f
XTerm*color4: #719181
XTerm*color12: #6abeb1
XTerm*color5: #bca3a3
XTerm*color13: #c0bed1
XTerm*color6: #93b3a3
XTerm*color14: #8cd0d3
XTerm*color7: #cccccc
XTerm*color15: #ffffff
